*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --cell-size: 6.25rem;
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell.X,
.cell.circle {
    cursor: not-allowed;
}

.board.X .cell:not(.X):not(.circle):hover::before,
.board.X .cell:not(.X):not(.circle):hover::after,
.board.circle .cell:not(.X):not(.circle):hover::before,
.board.circle .cell:not(.X):not(.circle):hover::after{
    background-color: lightgrey;
}

.cell.X::before,
.cell.X::after,
.cell.circle::before,
.cell.circle::after {
    background-color: #000;
}



.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::before,
.board.X .cell:not(.X):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.2);
    height: var(--mark-size);
}

.cell.X::before,
.board.X .cell:not(.X):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.X):not(.circle):hover::before,
.board.circle .cell:not(.X):not(.circle):hover::after { 
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.X):not(.circle):hover::before {
    content: '';
    width: var(--mark-size);
    height: var(--mark-size); 
}

.cell.circle::after,
.board.circle .cell:not(.X):not(.circle):hover::after {
    content: '';
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7); 
    background-color: #fff;
}

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 5rem;
}

.winning-message.show {
    display: flex;
}

.winning-message button {
    font-size: 3rem;
    padding: .25em .5em;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

